<!-- templates/add.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
  <title>Add Fountain Pen</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Add Fountain Pen</h1>

    </header>
    <div style="text-align:center;margin-top:25px;">
      <a href="/">Back to Main</a>
    </div>
    <div class="form-container">
      <form method="POST">
        {{ range .Columns }}
        <label for="{{ . }}">{{ . }}</label>
        {{ if eq . "year" }}
        <input type="date" name="year" id="year" min="1900-01-01" max="{{ $.CurrentYear }}-12-31">
        {{ else if eq . "nib_size" }}
        <select name="{{ . }}" id="{{ . }}">
          <option value="UEF">UEF</option>
          <option value="EF">EF</option>
          <option value="F">F</option>
          <option value="M">M</option>
          <option value="B">B</option>
          <option value="BB">BB</option>
          <option value="BBB">BBB</option>
          <option value="Music">Music</option>
          <option value="Architect">Architect</option>
          <option value="Italic">Italic</option>
        </select>
        {{ else }}
        <input type="text" name="{{ . }}" id="{{ . }}">
        {{ end }}
        {{ end }}
        <div class="add-button-container">
          <button type="submit" class="add-button">Add Pen</button>
        </div>
      </form>

    </div>
  </div>

  <script src="/includes/datepicker.js"></script>
</body>
</html>
