<!-- templates/add.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/includes/css/styles.css">
  <title>Flock: Personal Fountain Pen Database</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Flock: Personal Fountain Pen Database</h1>
      <h2>Add your pen</he>
    </header>
    <div style="text-align:center;margin-top:25px;">
      <a href="/">Back to Main</a>
    </div>
    <div class="form-container">
      <form method="POST">
        {{ range .Columns }}
        <label for="{{ . }}">{{ . }}</label>
        {{ if eq . "year" }}
        <input type="date" name="year" id="year" min="1900-01-01" max="{{ $.CurrentYear }}-12-31">
        {{ else if eq . "nib_size" }}
        <select name="{{ . }}" id="{{ . }}">
          <option value="UEF">UEF</option>
          <option value="EF">EF</option>
          <option value="F">F</option>
          <option value="M">M</option>
          <option value="B">B</option>
          <option value="BB">BB</option>
          <option value="BBB">BBB</option>
          <option value="Music">Music</option>
          <option value="Architect">Architect</option>
          <option value="Italic">Italic</option>
        </select>
        {{ else if eq . "material" }}
        <select name="{{ . }}" id="{{ . }}">
          <option value="Wood">Wood</option>
          <option value="Ebonite">Ebonite</option>
          <option value="Resin">Resin</option>
          <option value="Metal">Metal</option>
          <option value="Lacquer">Lacquer</option>
          <option value="Wood encased Ebonite">Wood encased Ebonite</option>
          <option value="Delrin">Delrin</option>
          <option value="Rubber">Rubber</option>
          <option value="Acrylic">Acrylic</option>
        </select>
        {{ else if eq . "filling_system" }}
        <select name="{{ . }}" id="{{ . }}">
          <option value="Cartridge">Cartridge</option>
          <option value="Converter">Converter</option>
          <option value="Eyedropper">Eyedropper</option>
          <option value="Piston">Piston</option>
          <option value="Sac/AeroMatic">Sac/AeroMatic</option>
          <option value="Vacuum">Vacuum</option>
        </select>
        {{ else }}
        <input type="text" name="{{ . }}" id="{{ . }}">
        {{ end }}
        {{ end }}
        <div class="add-button-container">
          <button type="submit" class="add-button">Add Pen</button>
        </div>
      </form>

    </div>
  </div>

  <script src="/includes/scripts/datepicker.js"></script>
</body>
</html>
