<!-- templates/import.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Flock: Personal Fountain Pen Database</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Flock: Personal Fountain Pen Database</h1>
        <h2>Import Pens from CSV</he>
</header>
<div style="text-align:center;margin-top:25px;">
  <a href="/">Back to Main</a>
</div>

<div class="form-container">
  <form method="POST" enctype="multipart/form-data">
    <label for="csvFile">Choose a CSV file:</label>
    <div class="add-button-container">
    <input type="file" name="csvfile" id="csvfile" accept=".csv" style="text-align:center;margin-top:25px" class="add-button"> <button type="submit" class="add-button">Import CSV</button>
    </div>
  </form>
</div>
</div>
</body>
</html>
